<div class="container">
  <div class="row">
    <h4>ログインページ</h4>
    <div class="col">
    <%= form_with model: @user, local: true, url: new_user_session_path do |f| %>
        <ul class="list-unstyled">
          <li>
            <%= f.label :email, "E-mail", class:"mt-2"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", size:"30", class:"float-right mt-2" %>
          </li>
          <li>
            <%= f.label :encrypted_password, "パスワード", class:"mt-1" %>
            <%= f.password_field :password, autocomplete: "current-password", size:"30", class:"float-right mt-1" %>
          </li></br>
          <li>
            <%= f.submit "ログイン", class:"btn btn-primary col-3 float-right" %>
          </li>
        </ul>
    <% end %>
    </div>
  </div>
</div>