<div class="container">
  <h4>ログイン</h4>
  <%= form_with model: @user, local: true, url: new_user_session_path do |f| %>
  <div class="row mt-2">
    <div class="col-md-4"><%= f.label :email, "E-mail", class:"font-weight-bold"%></div>
    <div class="col-md-8 text-right"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4"><%= f.label :encrypted_password, "パスワード", class:"font-weight-bold mt-1" %></div>
    <div class="col-md-8 text-right"><%= f.password_field :password, autocomplete: "current-password" %></div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <%= f.submit "ログイン", class:"btn btn-primary col-3 float-right" %>
    </div>
  </div>
  <% end %>
</div>