<div class="container">
  <div class="row">
    <div class="col">
      <h3>マイページ</h3>
      <ul class="list-unstyled">
        <li>
          <label>氏名</label> :
          <%= current_user.name %>
        <li>
          <lebal>フリガナ</lebal> :
          <%= current_user.name_kana %>
        </li>
        <li>
          <label>E-mail</label> :
          <%= current_user.email %>
        </li>
        <li>
          <label>郵便番号</label> :
          <%= current_user.post_code %>
        </li>
        <li>
          <label>住所</label> :
          <%= current_user.address %>
        </li>
        <li>
          <label>電話番号</label> :
           <%= current_user.phone_number %>
        </li>
      </ul>
         <% if user_signed_in? && @user.id == current_user.id %>
           <%= link_to "編集する", edit_user_path(current_user), class: "btn btn-success mb-3" %>
           <%= link_to "退会する", users_quit_path, class: "btn btn-danger mb-3" %>
         <% end %>
    </div>
  </div>
</div>

