<div class="container">
  <div class="row">
    <div class="col-12">
  <h2>管理者ログイン</h2><br/>
    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
      <ul style="list-style: none">
        <li class="d-flex justify-content-between mb-3"></li>
        <li><%= f.label :email, "メールアドレス" %></br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size:"25" %>
        </li>

        <li class="d-flex justify-content-between mb-3"></li>
        <li><%= f.label :encrypted_password, "パスワード" %></br>
            <%= f.password_field :password, autocomplete: "current-password", size:"25" %>
        </li>
      </ul>
        <div class="text-right">
          <%= f.submit "ログイン", class:"btn btn-primary mt-2 <ml-auto></ml-auto>" %>
        <% end %>
      <h6 class="text-left">管理者登録が済んでいない方は、</br>下記サポートセンターにご連絡ください</h6>
      <h5 class="text-left">連絡先：0120-123-456</h5>
       </div>
      </div>
    </div>
</div>
