<div class="container">
  <h3>カテゴリ一覧</h3>
    <%= form_with model: @category, url: admin_categories_path, local: true do |f| %>
    <div class="row">
      <div class="col-md-6"><%= f.text_field :name, class: "form_control" %></div>
      <div class="col-md-6 text-right"><%= f.submit "カテゴリを追加する", class: "btn btn-success" %></div>
    </div>
    <% end %>
    <% @categories.each do |category| %>
    <div class="row mt-4">
      <div class="col-md-4 font-weight-bold"><%= category.name %></div>
      <div class="col-md-4"><%= link_to "カテゴリ編集", edit_admin_category_path(category) %></div>
      <div class="col-md-4"><%= link_to "カテゴリ削除", admin_category_path(category), method: :delete, class: "btn btn-danger" %></div>
    </div>
    <% end %>
</div>