<div class="container">
  <div class="row">
      <h1>カテゴリ一覧</h1>
      <%= form_with model: @category, url: admin_categories_path, local: true do |f| %>
      <ul class="list-unstyled list-inline">
        <li><%= f.text_field :name, class: "form_control" %></li></br>
        <li> <%= f.submit "カテゴリを追加する", class: "btn btn-success" %></li>
      </ul>
      <% end %>
  </div>
  <div class="row">
    <ul class="list-unstyled">
        <% @categories.each do |category| %>
        <li class="list-inline-item">
          <%= category.name %>
        </li>
        <li class="list-inline-item">
          <%= link_to "カテゴリを編集", edit_admin_category_path(category) %>
        </li>
        <li class="list-inline-item mt-2">
          <%= link_to "カテゴリを削除する", admin_category_path(category), method: :delete, class: "btn btn-danger" %>
        </li></br>
        <% end %>
    </ul>
  </div>
</div>