<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2">
      <h2>投稿編集</h2>
      <%= form_with model: @post, url: user_post_path(current_user), local: true do |f| %>
       <table class="table table-bordered table-sm">
            <thead class=""></thead>
              <tr><th>場所の画像</th><td><%= f.file_field :image %></td></tr>
              <tr><th>場所の名前</th><td><%= f.text_field :place_name %></td></tr>
              <tr><th>詳細</th><td><%= f.text_field :body %></td></tr>
              <tr><th>カテゴリ</th><td><%= f.collection_check_boxes(:category_ids, @categories, :id, :name) do |b| %>
                                       <%= b.label { b.check_box + b.text } %></td></tr>
                                       <% end %>
              <tr><th>緯度</th></th><td><%= f.text_field :latitude %></td></tr>
              <tr><th>経度</th><td><%= f.text_field :longitude %></td></tr>
              <%= f.submit "編集する" %>
              <% end %>
        </table>
    </div>
  </div>
</div>
