<div class="conteiner">
  <div class="row">
    <div class="col-md-4"><h3>投稿一覧</h3></div>
    <div class="col-md-8">
      <%= form_tag(posts_search_path, method: "get") do %>
        <%= select_tag :name, options_from_collection_for_select(Category.all, :id, :name) %>
        <%= submit_tag "絞り込み" %>
      <% end %>
    </div>
  </div>
  <% @posts.each.with_index(@start + 1) do |post, i| %>
    <div class="row">
      <div class="col-md-4 font-weight-bold">No.</div>
      <div class="col-md-8"><%= i %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 font-weight-bold">投稿者名</div>
      <div class="col-md-8"><%= post.user.name %>さん</div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4 font-weight-bold">場所の名前</div>
      <div class="col-md-8"><%= post.place_name %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-3 font-weight-bold">コメント</div>
      <div class="col-md-5 text-center"><%= "#{post.comments.count} コメント" %></div>
      <div class="col-md-4 text-right"><%= link_to "詳細情報", user_post_path(post.user, post), class:"btn btn-warning" %></div>
    </div>
    <% end %>
    <div class="pagination">
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
</div>