<div class="container">
  <h3>新規投稿</h3>
   <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  <%= form_with model: @post, url: user_posts_path, local: true do |f| %>
    <div class="row">
      <div class="col-md-4"><%= f.label :place_name, "場所の名前", class:"font-weight-bold" %></div>
      <div class="col-md-8 text-right"><%= f.text_field :place_name, style: "width: 150px" %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4"><%= f.label :body, "詳細説明", class:"font-weight-bold" %></div>
      <div class="col-md-8 text-right"><%= f.text_area :body, style: "width: 150px" %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4"><%= f.label :name, "カテゴリ名", class:"font-weight-bold" %></div>
      <div class="col-md-8 text-right">
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
          <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4"><%= f.label :image, "画像", class:"font-weight-bold" %></div>
      <div class="col-md-8 text-right"><%= f.file_field :image, accept: "image/*" %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4"><%= f.label :latitude, "緯度", class:"font-weight-bold" %></div>
      <div class="col-md-8 text-right"><%= f.text_field :latitude, :value => "緯度", id: :lat %></div>
    </div>
    <div class="row mt-2">
      <div class="col-md-4"><%= f.label :longitude, "経度", class:"font-weight-bold" %></div>
      <div class="col-md-8 text-right"><%= f.text_field :longitude, :value => "経度", id: :lng %></div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12"><%= f.submit "投稿", class:"btn btn-success float-right" %></div>
    </div>
    <% end %>
</div>