<div class="container">
  <h3>投稿詳細</h3>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">投稿者名</div>
      <div class="col-md-8"><%= @post.user.name %>さん</div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">場所の画像</div>
      <div class="col-md-8"><%= image_tag @post.image, size:"125x125" %></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">AIタグ</div>
      <% @post.tags.each do |tag| %>
      <span class="badge badge-info mx-1">
        <%= tag.name %>
      </span>
      <% end %>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">場所の名前</div>
      <div class="col-md-8"><%= @post.place_name %></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">詳細</div>
      <div class="col-md-8"><%= @post.body %></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">カテゴリ</div>
      <div class="col-md-8"><%= @post.categories.pluck(:name).join(", ") %></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">緯度</div>
      <div class="col-md-8"><%= @post.latitude %></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">経度</div>
      <div class="col-md-8"><%= @post.longitude %></div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 font-weight-bold">コメント件数</div>
      <div class="col-md-8"><%= link_to "#{@post.comments.count}件", user_post_comments_path(@user, @post) %></div>
    </div>

      <div class="form-group">
              <td>    <!--全く動かなかったため、URLと引数も明示的に指定-->
                <%= form_with model: @comment, url: user_post_comments_path(user_id: @post.user_id, post_id: @post.id) do |f| %>
                  <%= f.text_area :comment_contents, placeholder: "コメント記入欄" %>
                  <%= f.submit "コメント送信", class:"form_control btn btn-primary float-right" %>
                <% end %>
              </td>
            <% if @user.id == current_user.id %>
              <td><%= link_to "投稿を編集", edit_user_post_path(@post.user, @post), class:"btn btn-success" %></td>
              <td><%= link_to "投稿を削除", user_post_path(@post.user, @post), method: :delete,class:"btn btn-warning" %></td>
            <% end %>
      </div>
</div>
