<div class="container">
  <div class="row">
    <div class="col-md-8 mt-2">
      <h1>ユーザー編集</h1>
      <%= form_for model: @user, url: admin_user_path(@user.id) do |f| %>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
      <br/>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
      <%= f.submit "変更", class:"btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
