<div class="container">
  <div class="row">
    <div class="col mt-2">
       <h3>ユーザー編集</h3>
       <% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <% end %>
            <%= form_with model: @user, url: admin_user_path(@user) do |f| %>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5"><%= f.label :name, "名前", class:"font-weight-bold" %></div>
                  <div class="col-md-7"><%= f.text_field :name, class: 'form-control' %></div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5"><%= f.label :name_kana, "フリガナ", class:"font-weight-bold" %></div>
                  <div class="col-md-7"><%= f.text_field :name_kana, class: 'form-control' %></div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5"><%= f.label :email, "メールアドレス", class:"font-weight-bold" %></div>
                  <div class="col-md-7"><%= f.email_field :email, class: 'form-control' %></div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5"><%= f.label :post_code, "郵便番号", class:"font-weight-bold" %></div>
                  <div class="col-md-7"><%= f.text_field :post_code, class: 'form-control' %></div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5"><%= f.label :address, "住所", class:"font-weight-bold" %></div>
                  <div class="col-md-7"><%= f.text_field :address, class: 'form-control' %></div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5"><%= f.label :phone_number, "電話番号", class:"font-weight-bold" %></div>
                  <div class="col-md-7"><%= f.text_field :phone_number, class: 'form-control' %></div>
                </div>
              </div>
              <div class="form-group">
                 <%= f.submit "変更", class:"btn btn-success float-right" %>
              </div>
            <% end %>
    </div>
  </div>
</div>
