<div class="container-fluid p-3 mb-2 bg-info text-white">
  <div class="row d-flex justify-content-around">
    <div class="col-auto">
      <div class="site-image">
        <%= image_tag "S-map.png", class:"size:50x50" %>
      </div>
    </div>
      <div class="col-auto mt-3 list-inline">
      <% if user_signed_in? %>
      <ul class="list-group list-group-horizontal list-unstyled font-weight-bold">
       <li class="mr-3 mt-5">
          <%= link_to "新規投稿", new_user_post_path(current_user), class:"link" %>
        </li>
        <li class="mr-3 mt-5">
          <%= link_to "投稿一覧", user_posts_path(current_user), class:"link" %>
        </li>
        <li class="mr-3 mt-5">
          <%= link_to "カテゴリ一覧", categories_path, class:"link" %>
        </li>
        <li class="mr-3 mt-5">
          <%= link_to "ユーザー情報", user_path(current_user), class:"link" %>
        </li>
        <li class="mr-3 mt-5">
          <%= link_to "サイトについて", homes_about_path, class:"link" %>
        </li>
        <% else %>
        <li class="info">
          防災情報サイトs-mapへようこそ。
        このサイトでは、東京23区内で地図上に表示されている場所の
        防災に関する情報をコメント及びタグを付け投稿できます。</br>
        また、それらを閲覧し、保存しておくこができます。</br>
        投稿及び閲覧には登録が必要です。→　登録は<%= link_to "こちらから", new_user_registration_path, class:"link" %>
        </li>
      </ul>
      <% end %>
    </div>


      <!--user && !admin ⇒ ログアウトボタンを表示-->
      <!--!user && admin ⇒ ログアウトボタン非表示-->
      <!--!user && !admin ⇒ ログインボタンを表示-->
    <div class="col-auto mt-5 list-inline font-weight-bold">

      <% if user_signed_in? && !admin_signed_in? %>
      <li class="mt-3">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"link" %>
      </li>
      <% elsif !user_signed_in? && !admin_signed_in? %>
      <li class="mt-3">
         <%= link_to "ユーザーログイン", new_user_session_path, class:"link" %>
      </li>
      <% end %>
    </div>

    <div class="col-auto list-inline">
      <% if admin_signed_in? && !user_signed_in? %>
      <ul class="list-group list-group-horizontal list-unstyled font-weight-bold">
        <li class="mr-3">
          <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class:"link" %>
        </li>
        <li class="mr-3">
          <%= link_to "カテゴリ一覧", admin_categories_path, class:"link" %>
        </li>
        <li class="mr-3">
          <%= link_to "ユーザー一覧", admin_users_path, class:"link" %>
        </li>
      </ul>
      <% elsif !user_signed_in? && !admin_signed_in? %>
        <li class="mt-5">
          <%= link_to "管理者の方はこちら", new_admin_session_path,class: "btn btn-warning" %>
        </li>
      <% end %>
    </div>
  </div>
</div>