<nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag "S-map.png", class:"img-fluid", size: '100x100' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav font-weight-bold mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "新規投稿", new_user_post_path(current_user), class: "nav-link link" %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿一覧", user_posts_path(current_user), class: "nav-link link" %>
        </li>
        <li class="nav-item">
          <%= link_to "カテゴリ一覧", categories_path, class: "nav-link link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー情報", user_path(current_user), class: "nav-link link" %>
        </li>
        <li class="nav-item">
          <%= link_to "サイトについて", homes_about_path, class: "nav-link link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録はこちらから", new_user_registration_path, class: "nav-link link" %>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav font-weight-bold mr-auto">
      <% if user_signed_in? && !admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link link" %>
        </li>
        <% elsif !user_signed_in? && !admin_signed_in? %>
        <li class="nav-item">
           <%= link_to "ユーザーログイン", new_user_session_path, class: "nav-link link" %>
        </li>
      <% end %>

      <% if admin_signed_in? && !user_signed_in? %>
        <li class="nav-item">
          <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link link" %>
        </li>
        <li class="nav-item">
          <%= link_to "カテゴリ一覧", admin_categories_path, class:"nav-link link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link link" %>
        </li>
      </ul>
      <% elsif !user_signed_in? && !admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "管理者の方はこちら", new_admin_session_path, class: "nav-link link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>